body {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url('/static/images/login.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.login {

    color: #fff;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.5);
    background-position: center;
    width: 30%;
    position: fixed;
    margin: 30vh 35vw;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 1);
    border: 5px;
    border-color: #000;
    font-family: Comic Sans MS, Comic Sans, cursive;

}

input {
    border-radius: 25px;
    border-color: #000;
    width: 100%;
    font-family: san-serif;
    outline: inset;
    padding-left: 5px;
}

