{% extends "home/base.html" %}
{% block content %}

        {%csrf_token%}

                <legend class="title"><h1 style="font-family:Brush Script MT,Brush Script Std,cursive; text-align:center;"></h1>Welcome {{ profile.weight }} {{ user.first_name }} {{ user.last_name }}.</legend>
                <p>Click here to view your current dietplan. </p>
                <a class="btn btn-outline-info" href="">View Dietplan</a>

                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>




{% endblock %}